/* ----------- INICIO Estilos Fuentes de texto */



/* ----------- FIN Estilos Fuentes de texto */


/* ----------- INICIO genericos */
html{
	width: 100%;
	height: 100%;
}

body{
	margin: 0px;
	background-color: #000;
	color: #fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: url(../images/fondwebpage.png);

	width: 100%;
	height: 100%;
}

header,
section,
menu,
nav,
footer,
hgroup{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}

.ocultar{
	display:none;
}

/* ----------- FIN genericos */


/* ----------- INICIO Diagramacion y contenidos */

#wrapper{
	width: 100%;
	height: 100%;
}

	#header{
		background-color: #f00;
		top: 0px;	}
	
		
		#header #identidad{
			position: absolute;
			right: 0px;
			top: 42%;
			width: 70px;
			height: 130px;
			background-color: #FFF;
			border-radius: 10px 0px 0px 10px;
			background-image: url('../images/identidad.png');
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			transition: all 1s;
		}
		
		#header #identidad:hover{
			width: 130px;
		}
		
			#header h1{
				margin:0px;
				width: 100%;
				height: 130px;
			}
			
				#header h1 a{
					display: block;
					width: 100%;
					height: 130px;
				}
				
					#header h1 a span{
						display: none;
					}
					
			#header h4{
				display: none;
			}
		
		#header #redes{
			position: absolute;
			right: 0px;
			top: 65%;
			width: 130px;
		}
		
			#header #redes ul,
			#header #redes ul li{
				margin: 0px;
				padding: 0px;
				list-style: none;
				List-style-type: none;
			}
			
				#header #redes ul{
					margin-left: 62px;
					border-bottom: 3px solid #666;
				}
				
					#header #redes ul li{
						float: left;
						
					}
					
						#header #redes ul li a{
							display: block;
							width: 24px;
							height: 24px;
							margin-top: -10px;
						}
						
							.btnFacebook{
								background-image: url("../images/redes.png");
								background-position: left;
								
								margin-left: -62px;
							}
							
								.btnFacebook:hover{
									background-image: url("../images/redes-over.png");
								}
							
							.btnFlickr{
								background-image: url("../images/redes.png");
								background-position: -33px;
								
								margin-left: -28px;
							}
							
								.btnFlickr:hover{
									background-image: url("../images/redes-over.png");
								}
						
							#header #redes ul li a span{
								display: none;
							}
		
		#header #menu{
			position: absolute;
			left: 0px;
			top: 50%;
			padding-right: 10px;
			border-radius: 0px 5px 5px 0px;
			background-color: #222;
			height: 36px;
			z-index: 10;
		}
		
			#header #menu h3{
				margin: 0px;
				width: 40px;
				height: 26px;
				padding: 8px 10px 0px 20px;
				background-position: right;
				background-repeat: no-repeat;
				float: left;
				font-size: 13px;
				position: relative;
				cursor: pointer;
			}
			
			h3.tituloMenuFlechaRight{
				background-image:url("../images/arrow-tit-menu-1.png");
			}
			
			h3.tituloMenuFlechaLeft{
				background-image:url("../images/arrow-tit-menu-2.png");
			}
			
				#header #menu ul{
					height: 36px;
					width: 0px;
					margin: 0px;
					padding: 0px;
					margin-left: 100px;
					list-style: none;
					list-style-type: none;
					/*float: left;*/
					overflow: hidden;
				}
				
					#header #menu ul li{
						float: left;
						width: 150px;
						margin: 0px;
						padding: 0px;
						height: 20px;
						margin: 8px 0px;
						border-left: 1px dotted #FFF;
					}
					
						#header #menu ul li:last-child{
							border-right: none;
						}
					
						#header #menu ul li a{
							display: block;
							height: 28px;
							width: 160px;
							margin: -8px 0px;
							text-align: center;
							padding-top: 8px;
							font-size: 14px;
							color:#fff;
						}
		
						#header #menu ul li ul{
							width: 200px !important;
							position:relative;
							height: 26px;
							top: -28px;
							left: -25px;
							z-index: -1;
							display: block;
							/*-webkit-transition: all 1s;
							-ms-transition: all 1s;
							-moz-transition: all 1s;
							-o-transition: all 1s;*/
							transition: all 1s;
							opacity: 0;
							margin: 0px;
							padding: 3px;
							overflow: hidden !important;
							background-color: #000;
							background-image:url(../images/fondmenuinterno.png);
							border: 1px solid #000;
						}
						
							#header #menu ul li:hover ul{
								display:block;
								height: 569px;	
								top: -300px;
								opacity: 1;
							}
						
							#header #menu ul li ul li{
								border: none;
								display: block;
								float: none;
								margin:0px 0px 6px 0px;
								background-color: #000;
								border: 1px solid #666;
								padding: 3px;
								width: auto;
								height: auto;
								opacity: 1;
							}
							
							#header #menu ul li ul li:nth-child(3){
								margin-bottom: 60px;
							}
							
							
							
								#header ul li ul li img{
									margin-left: -10px;
									position: absolute;
								}
								
								#header ul li ul li img.fondoItemMenu{

								}
								
										#header ul li ul li:nth-child(1) .fondoItemMenu{
											margin-top: -81px;
										}
										#header ul li ul li:nth-child(2) .fondoItemMenu{
											margin-top: -166px;
										}
										#header ul li ul li:nth-child(3) .fondoItemMenu{
											margin-top: -251px;
											
										}
										#header ul li ul li:nth-child(4) .fondoItemMenu{
											margin-top: -390px;
											
										}
										#header ul li ul li:nth-child(5) .fondoItemMenu{
											margin-top: -477px;
											
										}
										#header ul li ul li:nth-child(6) .fondoItemMenu{
											margin-top: -563px;
											
										}
								
								#header ul li ul li a{
									display:block;
									position: relative;
									z-index: 10;
									height: auto !important;
									width: auto !important;
									margin:0px !important;
									padding: 0px !important;
								}
								
									#header ul li ul li a img{
										float:none;
										border: none;
										margin:0px !important;
										position:static;
									}
									
									#header ul li ul li a span{
										
									}
		
		#menu img{
			
		}
	
	#contenidos{
		width: 100%;
		height: 100%;
	}
	
		#contenidos .proyecto{
			display: none;
		}
		
			#contenidos .proyecto .listaImagenesProyecto{
				background-color: rgb(0,0,0);
				background-position: center;
				background-repeat:repeat;
				width: 80%;
				margin:auto;
				padding: 0px 10px;
				overflow: hidden;
				border-radius: 0px 0px 8px 8px;
			}
			
				#contenidos .proyecto .listaImagenesProyecto menu{
					display: inline;
				}
			
				#contenidos .proyecto .listaImagenesProyecto ul{
					display: block;
					width: 100%;
					margin: 0px;
					padding: 0px 20px;
				}
				
				#contenidos .proyecto .listaImagenesProyecto ul:hover{
					margin-top: 0px;
				}
				
					#contenidos .proyecto .listaImagenesProyecto ul li{
						float: left;
						margin: 0px;
						padding: 0px;
						list-style: none;
						list-style-image:none;
						list-style-type:none;
					}
					
						#contenidos .proyecto .listaImagenesProyecto ul li a{
							display: block;
							width: 190px;
							height: 50px;
							cursor: pointer;
							margin: 0px 5px;
							background-position:center;
							background-repeat:no-repeat;
						}
						
						/* Simularemos con estas imágenes el comportamiento de la lista de posibles imagenes */
						#contenidos .proyecto .listaImagenesProyecto ul li:nth-child(1) a{
							background-image:url(../uploads/pic-rojored-a.jpg)
						}
						
						#contenidos .proyecto .listaImagenesProyecto ul li:nth-child(2) a{
							background-image:url(../uploads/pic-rojored-b.jpg)
						}
						
						#contenidos .proyecto .listaImagenesProyecto ul li:nth-child(3) a{
							background-image:url(../uploads/pic-rojored-c.jpg)
						}
						
						#contenidos .proyecto .listaImagenesProyecto ul li:nth-child(4) a{
							background-image:url(../uploads/pic-rojored-d.jpg)
						}
						
						#contenidos .proyecto .listaImagenesProyecto ul li:nth-child(5) a{
							background-image:url(../uploads/pic-rojored-e.jpg)
						}
						
							#contenidos .proyecto .listaImagenesProyecto ul li a span{
								display: none;
							}
				
				#contenidos .proyecto .vinculoTrabajo{
					position: absolute;
					display:none;
					opacity: 0;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					z-index: -10;
					text-align:center;
				}

					#contenidos img.imagenProyecto{
						text-align: center;
						margin:auto;
						max-height: 100%;
						max-width: 100%;
					}
	
	#footer{
		display: none;
	}

/* ----------- FIN Diagramacion y contenidos */


/* ----------- INICIO Textos y colores */



/* ----------- FIN Textos y colores */