@charset "utf-8";
/* CSS Document */

/*
	Edite estos estilos para redisenar la interfaz de los contenidos
*/

/* ------------------------------------------------------------------------------------------- INICIO Estilos genéricos */

#cvjl-AcDs ul,
#cvjl-AcDs ul li{

}

#cvjl-AcDs details,
#cvjl-AcDs header,
#cvjl-AcDs section{
}

/* ------------------------------------------------------------------------------------------- FIN Estilos genéricos */

/* ------------------------------------------------------------------------------------------- INICIO Evaluación*/
#cvjl-AcDs{

}

	#cvjl-AcDs .fondoPrincipal{
	}
	
		#cvjl-AcDs .fondoPrincipal .fondoAdicionalPrincipal{
		}
		
			#cvjl-AcDs #contenido{
			}
			
			#cvjl-AcDs .fondoContenedor{
			}
			
				#cvjl-AcDs #presentacionAcDs{
					position: absolute;
				}
				
				#cvjl-AcDs #presentacionAcDs .screen{
				}
		
				/* ------------------------------------------------------------------------------------------- INICIO Informacion Evaluación*/
				
					#cvjl-AcDs #infoAcDs{
                        
					}
					
						#cvjl-AcDs #infoAcDs .fondo{
						}
						
							#cvjl-AcDs #infoAcDs .descripcion{
							}
							
							#cvjl-AcDs #infoAcDs .detalles{
							}
							
								#cvjl-AcDs #infoAcDs .detalles p{
								}
								
								#cvjl-AcDs #infoAcDs .detalles ul{
								}
								
								#cvjl-AcDs #infoAcDs .detalles ul li{
								}
				
				/* ------------------------------------------------------------------------------------------- FIN Información Evaluación*/
		
			/* ------------------------------------------------------------------------------------------- INICIO Contenidos */
			
				#cvjl-AcDs #preguntas{
					display: block;
					
				}
			
					/* ------------------------------------------------------------------------------------------- INICIO Preguntas Evaluación*/
						
						#cvjl-AcDs #preguntas .screen{
							
						}
						
							#cvjl-AcDs #preguntas .EncabezadoScreen{
							}
							
								#cvjl-AcDs #preguntas .EncabezadoScreen h3{
								}
								
								#cvjl-AcDs #preguntas .EncabezadoScreen p{
								}
						
							#cvjl-AcDs #preguntas dl{
							}
							
								#cvjl-AcDs #preguntas dt{
								}
								
								#cvjl-AcDs #preguntas dd{
								}
								
									#cvjl-AcDs #preguntas dd ol{
									}
								
								#cvjl-AcDs #preguntas .pregunta{
								}
						
							#cvjl-AcDs #preguntas .preguntaTipoUnicaR{
							}
							
								#cvjl-AcDs #preguntas .preguntaTipoUnicaR .pregunta{
								}
							
								#cvjl-AcDs #preguntas .preguntaTipoUnicaR .respuesta{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoUnicaR .respuestaActiva{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoUnicaR .respuestaCorrecta{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoUnicaR .respuestaIncorrecta{
								}
								
									#cvjl-AcDs #preguntas .preguntaTipoUnicaR .contenidoRespuesta{
										
									}
								
									#cvjl-AcDs #preguntas .preguntaTipoUnicaR .opcionRespuesta{
										margin: 0px;
										padding: 0px;
										cursor: pointer;
									}
								
							#cvjl-AcDs #preguntas .preguntaTipoMultipleR{
							}
							
								#cvjl-AcDs #preguntas .preguntaTipoMultipleR .pregunta{
								}
							
								#cvjl-AcDs #preguntas .preguntaTipoMultipleR .respuesta{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoMultipleR .respuestaCorrecta{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoMultipleR .respuestaIncorrecta{
								}
						
									#cvjl-AcDs #preguntas .preguntaTipoMultipleR .opcionRespuesta{
										margin: 0px;
										padding: 0px;
										cursor: pointer;
									}
									
							#cvjl-AcDs #preguntas .preguntaTipoAbiertaR{
								
							}
							
								#cvjl-AcDs #preguntas .preguntaTipoAbiertaR .pregunta{
								}
							
								#cvjl-AcDs #preguntas .preguntaTipoAbiertaR .CampoTextoPregAbierta{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoAbiertaR .labelCampoPregAbierta{
								}
								
								#cvjl-AcDs #preguntas form .contenedorBotonBorrar {
								}
								
									#cvjl-AcDs #preguntas form .contenedorBotonBorrar .botonBorrar{
									}
								
								#cvjl-AcDs #preguntas form .contenedorBotonEnviar {
								}
								
									#cvjl-AcDs #preguntas form .contenedorBotonEnviar .botonEnviar{
									}
									
							#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas{
							}
							
								#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesA{
								}
								
									#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesA ul{
									}
									
										#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesA ul li{
										}
										
										#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesA .itemColumna{
										}
										
											#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesA .itemColumna .conectable{
											}
											
												#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesA .itemColumna .conectable .contenidoItemColumnaConectableA{
												}
								
								
								#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesB{
								}
								
									#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesB ul{
									}
										
										#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesB ul li{
										}
										
										#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesB .itemColumna{
										}
										
											#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesB .itemColumna .conectable{
											}
											
												#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .columnaOpcionesB .itemColumna .conectable .contenidoItemColumnaConectableB{
												}
												
								#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .lineas{
									margin: 0px 135px;
								}
								
									#cvjl-AcDs #preguntas .preguntaTipoConectarColumnas .lineas canvas{
										
									}
								
								#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos{
									background-color:#CCC;
								}
								
									#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA{
										float:left;
									}
									
										#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA ul{
										}
										
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA ul li{
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA .itemColumna{
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA .itemColumnaVacio{ /* Estilo agregado por programación cuando se arrastra un item */
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA .itemColumnaCorrecto{ /* Estilo agregado por programación cuando se solto en el lugar correcto */
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA .itemColumnaInCorrecto{ /* Estilo agregado por programación cuando se solto en el lugar INcorrecto */
											}
											
												#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA .itemColumna .arrastrable{
												}
												
													#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesA .itemColumna .arrastrable .contenidoItemColumnaArrastrableA{
														cursor: pointer;
													}
									
									
									#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB{
										float:right;
									}
									
										#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB ul{
										}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB ul li{
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB .itemColumna{
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB .itemColumnaOver{/* Estilo agregado por programación cuando paso un objeto encima listo para soltarlo */
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB .itemColumnaCorrecto{/* Estilo agregado por programación cuando la seleccion fue correcta */
											}
											
											#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB .itemColumnaInCorrecto{/* Estilo agregado por programación cuando la seleccion fue INcorrecta */
											}
											
												#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB .itemColumna .soltable{
												}
												
													#cvjl-AcDs #preguntas .preguntaTipoArrastrarObjetos .columnaOpcionesB .itemColumna .soltable .contenidoItemColumnaSoltableB{
														cursor:pointer;
													}
													
													
							#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero{
							}
							
								#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .pregunta{
								}
							
								#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .enunciadoFV{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .estiloVerdadero{
								}
								
									#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .estiloVerdadero .opcionRadioRespuesta{
									}
								
								#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .estiloFalso{
								}
								
									#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .estiloFalso .opcionRadioRespuesta{
									}
								
								#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .respuestaCorrecta{
								}
								
								#cvjl-AcDs #preguntas .preguntaTipoFalsoVerdadero .respuestaIncorrecta{
								}
							
					
					/* ------------------------------------------------------------------------------------------- FIN Preguntas Evaluación*/
					
					/* ------------------------------------------------------------------------------------------- INICIO Botones Navegar Evaluación*/
					
						#cvjl-AcDs #navegacion{
						}
						
							#cvjl-AcDs #navegacion #BotonIniciar{
								cursor: pointer;
							}
							
							#cvjl-AcDs #navegacion #navegaNextPrev{
								
							}
							
								#cvjl-AcDs #navegacion #navegaNextPrev #NextQuestion{
									cursor: pointer;
								}
								
								#cvjl-AcDs #navegacion #navegaNextPrev #PrevQuestion{
									cursor: pointer;
								}
					
					/* ------------------------------------------------------------------------------------------- FIN Botones Navegar Evaluación*/
					
					
					/* ------------------------------------------------------------------------------------------- INICIO Ventana de mensaje*/
					
						#opacidadMensaje{
						}
						
							#opacidadMensaje #ventanaMensajes{
							}
							
								#opacidadMensaje #ventanaMensajes .header{
								}
								
								#opacidadMensaje #ventanaMensajes #contenidoMensaje{
									overflow:auto;
								}
								
								#opacidadMensaje #ventanaMensajes .footerMensaje{
								}
								
									#opacidadMensaje #ventanaMensajes .footerMensaje button.botonAceptar{
										background: none;
										border: none;
										margin: 0px;
										padding: 0px;
									}
									
									
					
					/* ------------------------------------------------------------------------------------------- FIN Ventana de mensaje*/
					
					
			
			/* ------------------------------------------------------------------------------------------- FIN Contenidos */
		
/* ------------------------------------------------------------------------------------------- FIN Evaluación*/
